# === Directorios generados ===
target/
out/
build/

# === Archivos de configuración de IDEs ===
.vscode/
.idea/
*.iml

# === Archivos de Maven ===
.mvn/
.mvn/wrapper/

# === Archivos generados por Maven ===
pom.xml.*

# === Archivos compilados de Java ===
*.class

# === Archivos temporales o del sistema ===
*.log
*.tmp
*.swp
*.bak

# === Archivos de entorno ===
.env

# === Archivos específicos de Docker ===
.dockerignore
Dockerfile

# === Archivos del sistema operativo ===
.DS_Store
Thumbs.db
